//////
//
// BORDERS
//
// Description: Centralize the styling of borders
// Author: Erik Joling <erik@ejoweb.nl>
//
// Usage
//   - border: border-width(base) border-style(base) border-color(base);
//   - border-left: border(base);
//   - border-radius: border-radius(base)
//
// Documentation
// 
//   @functions
//   - get-border([$name])
//   - border-width([$name])
//   - border-style([$name])
//   - border-color([$name])
//   - border-radius([$name])
//   - border([$name], [$color])
// 
//////

// 
// DEFAULTS
//
$borders: (
   base: (
       width: 1px,
       style: solid,
       color: #eee,
       radius: 5px
   )
) !default;

// Helper function
@function get-border($name: base) {

    @if map-has-key($borders, $name) == false {
        @warn "`#{$name}` not found in borders. Returning false";
        @return false;
    }

    @return map-get($borders, $name);
}

// Get border width from settings
@function border-width($name: base) {
    $border: get-border($name);
    $default: 0;
    
    // Exit if border does not exist
    @if ( $border == false ) {
        @return $default;
    }
        
    // Try to get `base` border-width if no `width` exists
    @if (map-has-key($border, 'width') == false) {
        
        // Exit if `base` has no border-width        
        @if ( $name == 'base' ) {
            @warn "Width not found in border `#{$name}`. Returning `#{$default}`";
            @return $default;
        }
        
        @return border-width(base);
    }

    @return map-get($border, 'width');
}

// Get border style from settings
@function border-style($name: base) {
    $border: get-border($name);
    $default: none;
    
    // Exit if border does not exist
    @if ( $border == false ) {
        @return $default;
    }
        
    // Try to get `base` border-width if no `style` exists
    @if (map-has-key($border, 'style') == false) {
        
        // Exit if `base` has no border-style        
        @if ( $name == 'base' ) {
            @warn "Style not found in border `#{$name}`. Returning `#{$default}`";
            @return $default;
        }
        
        @return border-style(base);
    }

    @return map-get($border, 'style');
}

// Get border color from settings
@function border-color($name: base) {
    $border: get-border($name);
    $default: inherit;
    
    // Exit if border does not exist
    @if ( $border == false ) {
        @return $default;
    }
        
    // Try to get `base` border-width if no `color` exists
    @if (map-has-key($border, 'color') == false) {
        
        // Exit if `base` has no border-color        
        @if ( $name == 'base' ) {
            @warn "Color not found in border `#{$name}`. Returning `#{$default}`";
            @return $default;
        }
        
        @return border-color(base);
    }

    @return map-get($border, 'color');
}

// Get border radius from settings
@function border-radius($name: base) {
    $border: get-border($name);
    $default: 0;
    
    // Exit if border does not exist
    @if ( $border == false ) {
        @return $default;
    }
        
    // Try to get `base` border-width if no `radius` exists
    @if (map-has-key($border, 'radius') == false) {
        
        // Exit if `base` has no border-radius        
        @if ( $name == 'base' ) {
            @warn "Radius not found in border `#{$name}`. Returning `#{$default}`";
            @return $default;
        }
        
        @return border-radius(base);
    }

    @return map-get($border, 'radius');
}

//
// Utilities
//

// Get border layout from settings
@function border($name: base, $color: false) {

    @if ( $color == false ) {
        $color: border-color($name);
    }

    @return border-width($name) border-style($name) $color;
}
